Nosferatu/Library
Nosferatu/Temp
Nosferatu/Obj
Nosferatu/Build
Nosferatu/Builds
Nosferatu/Logs
Nosferatu/MemoryCaptures
Nosferatu/Assembly
Nosferatu/Assets/AmplifyShaderEditor/Examples
.vs 
.gradle
.meta

ExportadoObj
.consulo
.csproj
.unityproj
.sln
.suo
.tmp
.user
.userprefs
.pidb
.booproj
.svd
.pdb
.mdb
.opendb
.VC.db

.pidb.meta
.pdb.meta
.mdb.meta

sysinfo.txt

.apk
.unity
.properties
Nosferatu/fmod_editor.log
